.button hero-cta {
	min-height: 40px;
}


.content {
	min-width: 320px;
	overflow-x: hidden;
}

.card-text-title {
	display: inline-block;
    background-color: #ffdd2d;
    font-weight: 800;
    font-size: 11px;
    font-family: pfhighway,helvetica,arial,sans-serif;
    line-height: 1;
    color: #3e4758;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 6px 7px 6px 7px;
    margin: 10px 0 7px;
    text-align: center;
}

article {
    padding: 24px;
}

.home-row .card {
	min-width: calc(100% - 32px);
	align-items: center;
    justify-content: center;
}


@media (min-width: 780px) {
	.hero-logo__angular {
		min-width: 400px;
	}
}

@media screen and (max-width: 680px) {

	.hero-logo__angular {
		min-width: auto;
	}

	div[layout=row] {
		display: block;
	}

	.home-row .promo-img-container, 
	.home-row .text-container {
	    max-width: 100%;
	    text-align: center;
	}

	.home-row .text-block {
		padding-right: 0;
	}

}

@media (max-width: 480px) {
	.card-text-subtitle {
		display: none;
	}
}

.home-row .card {
	box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
}

.home-row .card:hover {
	box-shadow: 0 4px 4px rgba(10,16,20,.24), 0 0 4px rgba(10,16,20,.12);
}

.promo-img-container--full {
	max-width: 100% !important;
    width: 100%;
}

.home-row .card.telegram  .card-text-title {
	white-space: nowrap;
	display: block;
}

.home-row .card.telegram  .card-text-title:hover {
	box-shadow: 0 4px 4px rgba(10,16,20,.24), 0 0 4px rgba(10,16,20,.12);
}

.home-row .card.telegram {
	align-items: flex-start;
}

.card.telegram .fa {
	padding-right: 5px;
}

.card.telegram .card-text-title {
	border: 1px solid rgba(10,16,20,.12);
}

.chat-angular-ru {
	background: #d6192b;
    color: #fff;    
}

.chat-angular-ru-universal {
	background: #14b102;
    color: #fff;    
}

.chat-angular-nest {
	background: #e42449;
    color: #fff;    
}

.chat-angular-ngdart {
	background: #02a3eb;
    color: #fff;    
}

.chat-angular-ionic {
	background: #498af3;
    color: #fff;    
}

.chat-angular-nativescript {
	background: #3e61f8;
    color: #fff;    
}

.fa.fa-youtube-play {
	color: #da2723;
}

@media (max-width: 920px) {

	.home-row .card.telegram img { 
		margin: 10px auto 25px auto;
		display: block;
	}

	.home-row .card.telegram {
		display: block
	}

	.home-row .card.telegram .card-text-title {
	    white-space: nowrap;
	    width: 145px;
	    display: block;
	    margin: 10px auto;
	}

	.home-row .card.telegram .card-text-container {
	    margin: 0 auto;
	    width: 200px;
	}
	
}


.text-middle-title {
	margin-bottom: 20px;
    text-align: center;
}

.text-middle-title .fa {
	margin-right: 5px;
}

.home-row img.card-scope {
	width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    max-width: 100% !important;
    margin: 10px auto;
    flex: none;
    border-radius: 50%;
    background-color: transparent;
    overflow: hidden;
    display: block;
    border: 1px solid #f2d8d8;
}

.home-row img.card-default {
	border: none;
    border-radius: initial;
}

.card--align {
	text-align: center;
	font-size: 12px;
	margin-top: 15px;
}

.card--link {
	font-size: 12px;
	border-bottom: 1px dotted;
}